:root {
    --clr-gray:#636363;
    --clr-light-gray:#B7B7B7;
    --clr-dark-green:#379339;
    --clr-green:#92EA98;
    /*--clr-green:#b8e073;*/
}


body {
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-gray);
    font-weight: 300;
}

/*modal*/

.modal {
    justify-content: flex-end;
}
.modal-dialog {
    margin: 0px;
}

.modal-content {
    border-radius: 0px;
}

.modal-header {
    background-color: var(--clr-green);
}

.modal-header h5 {
    font-weight: 600;
    color: white;
}

.icon-carrito {
    position: relative;
    cursor: pointer;
    padding: 5px;
}

.icon-carrito img {
    width: 40px;
}

.numberCompra {
    position: absolute;
    right: 0;
    top: 0;
}

.numberCompra .badge {
    background-color: var(--clr-dark-green) !important;
}

#productoComprado {
    padding: 10px;
    border: 1px solid var(--clr-light-gray);
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #fff;
    z-index: 1;
}

.productoComprado-footer {
    text-align: center;
}

.productoComprado-footer p {
   margin: 0px 0px 10px 0px;
}

.productoComprado-footer a {
   width: 100%;
 }

#carrito ul {
    border-radius: 0;
}

#carrito .carrito-nombre, #productoComprado .carrito-nombre {
    font-weight: 600;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    line-height: 1rem;
}

#carrito .carrito-descripcion, #productoComprado .carrito-descripcion {
    font-size: 0.8rem;
    margin: 0px;
    padding: 0px;
}

#carrito .carrito-data, #productoComprado .carrito-data {
    margin-right: 20px;
}

#carrito .carrito-precio {
    margin-right: 20px;
}

#carrito .delete {
    background: url('../imgs/delete.svg');
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    padding: 0 5px;
    margin-left: 10px;
    background-position: center;
    cursor: pointer;
}

#carrito .badge, #productoComprado .badge {
    background-color: var(--clr-dark-green) !important;
    border-radius: 50rem;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


/*nav*/

.bg-green {
    background-color: var(--clr-green);
}

.bg-light-green {
    background-color: #EEFFEE;
}


/*header*/

.header-store {
    background: url('../imgs/header.jpg');
    background-size: cover;
    height: 300px;
    background-position: center;
    margin-top: 60px;
}

/*card*/

.card {
    border-radius: 1.5rem;
    outline: 1px solid lightgray;
    overflow: hidden;
    height: 100%;
    padding-bottom: 15px;
}

.card-footer {
    background-color: transparent;
}

.card-footer .cantidad {
    width: 80px;
    border: 1px solid var(--clr-light-gray);
    text-align: center;
}

.card-body {
    text-align: center;
    border-top: solid 4px var(--clr-green);
}

.card-title {
    font-weight: 600;
}

.precio {
    font-weight: 600;
    color: var(--clr-dark-green);
}

.card-image {
    overflow: hidden;
}

.card-img-top {
    transition: all 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}

/*buttons*/

.btn {
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

.btn-compra, .btn-aplicar {
    color: #fff;
    background-color: var(--clr-green);
    border-color:  var(--clr-green);
    font-weight: 600;
}

.btn-compra:hover, .btn-aplicar:hover {
    color: var(--clr-dark-green);
    border-color:  var(--clr-green);
    background-color: white;
}


/*form*/

.form-check-input:checked {
    background-color: var(--clr-green);
    border-color: var(--clr-green);
}

.form-check {
    margin-bottom: 0.3rem;
}

.form-check-input:focus {
    border-color: var(--clr-green);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(166 210 171 / 25%);
}

/*typography*/

.bold {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    color: white;
}

h1 span {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

.hide {
    display: none;
}

.show {
    display: flex !important;
}

.categoria {
    max-width: 180px;
    height: 180px;
    display: block;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.categoria.active {
    opacity: 1;
}

.categoria:hover {
    transform: scale(1.2);
    transition: 0.2s all ease;
    opacity: 1;
}

.categoria.gato {
    background-image: url('../imgs/gato.png');
}

.categoria.perro {
    background-image: url('../imgs/perro.png');
}

.categoria.todos {
    background-image: url('../imgs/todos.png');
}

/*border*/

.border-green {
    border-bottom:solid 3px var(--clr-green);
}


@media only screen and (max-width: 768px) {
    .header-store {
        background: url('../imgs/header-mobile.jpg');
        background-size: cover;
        height: 400px;
        background-position: center;
        margin-top: 60px;
    }
    
}